<div class="text-center">
    <form action="/usuarios/login" class="registro form-signin" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control mt-2" placeholder="Email" name="email" required>
        <label for="senha" class="sr-only">Senha</label>
        <input type="password" id="senha" class="form-control mt-2" placeholder="Senha" name="senha" required>
        <button class="btn btn-lg btn-danger btn-block mt-4" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; Paraiba+ 2020</p>
    </form>
</div>